*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhai 2","poppins", "sans-serif";
    color: white;
}
body{
    background: linear-gradient(to bottom, rgba(28, 28, 34, 0.819), rgb(2, 0, 7));
}
.main{
    background-image: url(images/back.jpg);
    background-position: center top;
    background-size: cover;
    width: 100vw;
    height: auto;
}
.menu{
    margin: 15px 10px;
    margin-left: 2rem;
    
    color: aliceblue;
   
}
.self{
    width: 5rem;
    border-radius: 100px;
    position: absolute;
    right: 0;
    position: fixed;
    z-index: 1;
    margin-top: 7px;
    margin-right: 7px;
}
.nav-flex{
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    list-style: none;
    flex-wrap: wrap;
    background-color: rgba(106, 122, 144, 0.212);
    box-shadow:inset aqua 0px 0px 4px;
    width: 100vw;
    /* z-index: 10; */
    position: absolute;
    top: 15%;
}

.main nav span{
    /* margin-left: -2vw; */
    color: rgb(102,217,237);
    font-size: 1rem;
    display: inline;
    margin: auto;
}

.nav-flex li a{
    text-decoration: none;
    color: rgb(206, 201, 201);
    font-size: 1.2rem;
    margin-top: 2px;
    border-radius: 10px;
    padding: 2px 12px;
    background-color: rgba(14, 25, 40, 0.272);
}
.nav-flex a:hover{
    color: white;
    /* box-shadow: aqua  2px 1px 11px 4px; */
    text-shadow: rgb(231, 123, 40) 0px 0px 7px;
}
.nav-flex li:hover{
    transform: scale(1.2);
    transform-origin: bottom;
}
.sun{
    position: relative;
    width: 12rem;
    
    left: 7rem;
    filter: blur(3px);
    bottom: 17rem;
    border-radius: 50%;
    animation: sunimg 3s linear infinite;
    transition-property: scale;
    transition-timing-function: linear;
}
.sun:hover{
    transform: scale(2);
    transition-duration: 3s;
    transition-delay: 0.5s;
}
@keyframes sunimg {
    0% , 100%{

    }
    50%{
        transform: translate(1.8rem);
    }
}
.hero{
    color: aliceblue;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 30vh;
    z-index: 10;
}
.hero div:first-child{
    font-family: "poppins";
    font-size: 7.5rem;
    font-weight: 700;
}
.hero div:last-child{
    font-size: 1.8rem;
    position: relative;
    bottom: 12rem;
}
/* expertise */
section{
    width: 100vw;
    height: 100vh;
}
.expert{
    color: white;
}
.expert h1{
    text-align: center;
    font-size: 8rem;
}
.expe-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2rem;
    margin-top: 20px;
}
.f{
    display: flex;
    flex-direction: column;
    /* font-size: 1rem; */
    width: 25rem;
    font-weight: 900;
    border: 2px solid white;
    padding: 30px;
}
.f div:nth-of-type(odd){
    height: 50%;
    /* margin: auto; */
}
.f h3{
    font-size: 1.2rem;
    padding: 13px 3px;
    font-family: "sans-serif";
}
footer{
    height: 60vh;
    margin-left: 40vw;
    font-size: 1.3rem;
    line-height: 250%;
}
footer h1{
    font-size: 3rem;
    margin: auto;
    padding: 30px 0;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: rgba(146, 143, 143, 0.272);
    text-shadow: rgb(98, 173, 175) 0px 0px 7px;
    transform: scale(1.2);
    transform-origin: bottom;
}
@media screen and (max-width:650px){
    :root{
        font-size: 0.5rem;
    }
    .menu{
        margin-top: 3rem;
        margin-left: 3rem;
    }
    body{
        background: linear-gradient(to bottom, rgba(28, 28, 34, 0.863), rgb(2, 0, 7));
    }
    .self{
        width: 8rem;
    }
    main nav span{
        /* margin-left: -2vw; */
        font-size: 3rem;
    }
    .main{
        background-position: center top;
        height: 100vh;
    }
    .nav-flex li a{
        font-size: 2rem;
    }
    .nav-flex{
        justify-content: space-between;
        row-gap: 5vw;
        column-gap: 5vw;
        display: none;
    }
    .sun{
        bottom: 29rem;
        left: 10rem;
        animation-duration: 2.8s;
    }
    .hero{
        margin-top: 45%;
    }
    .hero div:last-child{
        font-size: 3em;
        margin-top: 26px;
    }
    /* expert */
    .expe-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2rem;
    }
    footer{
        margin-left: 22vw;
        height: 40vh;
    }
}
